
:root {
  --color-gray: #737888;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(121,63,9);
    background: linear-gradient(90deg, rgba(121,63,9,0.9923319669664741) 35%, rgba(187,31,31,1) 100%);
}

h2 {
  margin-bottom: 1rem;
  font-size:xx-large;
}

p {
  color: var(--color-gray);
}

hr {
  height: 1px;
  
  
  border: 0;
  
}

.container {
  max-width: 40rem;
  padding: 10vw 2rem 0;
  margin: 0 auto;
  height: 100vh;
}

.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 3px solid goldenrod;
  padding: .5rem;
  border-radius: .25rem;
}

.field__label {
  color:white;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #ffffff;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  background-color:goldenrod;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  display: block;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}