/* ---------------------- body -------------------------- */

body
{
    background: rgb(121,63,9);
    background: linear-gradient(90deg, rgba(121,63,9,0.9923319669664741) 35%, rgba(187,31,31,1) 100%);
    pointer-events: painted;
}

/* ----------------- Heading tag <h1> ------------------- */

h1
{
    text-align: center;
    margin: 0;
    color: orange;
    text-shadow: 4px 4px 4px black;
    padding-bottom: 20px;
    font-family: 'Diplomata SC', cursive;
}

/* ----------------- Heading tag <h2> ------------------- */

h2
{
font-family: 'Bungee Spice', cursive;
padding-top: 20px;
}

/* ----------------- Navigation ------------------- */

.nav-link
{
    font-size:larger;
    font-weight: bolder;
}

.nav-link:hover
{
    background-color:olive;
    border-radius: 20%;
}

.nav-item
{
    padding:0 10px 10px 10px; 
}

#cart {
    position: relative;
    bottom: 14px;
    right: 5px;
    background-color: rgb(226, 4, 4);
    border-radius: 50%;
}

/* ----------------- Modal ------------------- */

#exampleModalLabel
{

    text-shadow: none;
    padding-bottom: -20px;
    padding-left: 30px;
}

/* ----------------- carousal ------------------- */



.banner
{
    height:550px;
}

.vibe
{
    height: 430px;
}

.d-block
{
    width: 100%;
    margin-top: 30px;
}

/* ----------------- About Us ------------------- */

.aboutus
{
    font-size: 25px;
    font-family: 'Jomhuria', cursive;
    color: goldenrod;
}

/* ----------------- Features ------------------- */

.features
{
    float: right;
    border: 10px double white;
    font-size: x-large;
    padding-left: 50px;
    margin-top:30px;
    margin-left: 10px;
}

.test
{
    color: rgb(214, 15, 15);
}
.test:hover
{
    color:rgb(0, 68, 255)
}

.new
{
    padding: 5px;
    text-decoration: none;
    font-size: x-large;
    list-style-type: none;
}

.new:hover
{
    color: blue;
}

.new a
{
    text-decoration: none;
    font-family: 'Macondo Swash Caps', cursive;
}

.ico1
{
    list-style-type: none;
    padding-bottom: 5px;
    padding: 10px;
    font-size:x-large;
}

.ico1 a
{
    text-decoration: none;
    font-family: 'Londrina Outline', cursive;
}

.fa-facebook-official
{
    color:#3b5998
}

.fa-twitter-square
{
    color:#2180a2
}

.fa-instagram
{
  color:  rgb(228, 64, 95);
}

.fa-linkedin
{
color:#02628e
}

.fa-map-marker
{
    padding-right: 10px;
    font-size:xx-large;
    color: rgb(9, 55, 236);
    
}

.fa-envelope
{
    padding-right: 10px;
    font-size:xx-large;
    color:rgb(49, 0, 197);
}

.fa-phone
{
    padding-right: 10px;
    font-size:xx-large;
    color:rgb(78, 17, 218);    
}

.fa-cutlery
{
    padding-right: 10px;
    font-size:x-large;
    color:  rgb(30, 182, 108);
    
}

.fon1
{
    font-size: x-large;
    margin-left: 30px;
    padding-left: 20px;
}

.fon1 i
{
    padding-right: 10px;
}

.ico1:hover
{
   color: lightseagreen;
}


.water {
  position: relative;
  padding: 10px 30px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  overflow: hidden;
  border-radius: 40px;
}

a span {
  position: relative;
  color: #fff;
  font-size: 12px;
  font-family: 'Macondo Swash Caps', cursive;
  font-weight: bolder;
  z-index: 1;
}

a .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
  margin-right:190px;
}

a .liquid::after,
a .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

a .liquid::before {
  
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

a .liquid::after {
  
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

a:hover .liquid{
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

